#header {
  background-color: #416aaf;
  color: #e2f1fa;
}
#header h1 { color: #e2f1fa; }
#header h2 { color: #e2f1fa; }
#header a { color: #e2f1fa; }
#footer {
  background-color: #416aaf;
  color: #e2f1fa;
}
#footer h1 { color: #e2f1fa; }
#footer h2 { color: #e2f1fa; }
#footer a { color: #e2f1fa; }
#header, #footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#content {
  background-color: #e2f1fa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#logo, #navigation, #footer { padding: 10px; }
.error, .notice, .alert {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
